In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [4]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [5]:
shop = Shop() # FristShop, first_shop(x), firstShop(x), first_Shop(x)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [6]:
shop.save()

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 08:28:51.051595', '2021-12-01 08:28:51.051595'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 08:28:51.051595', '2021-12-01 08:28:51.051595']

In [7]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="024-1234-5432",
)
shop

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '024-1234-5432', '', '2021-12-01 08:28:56.148556', '2021-12-01 08:28:56.148556'); args=['셀프24시빨래방', '', '024-1234-5432', '', '2021-12-01 08:28:56.148556', '2021-12-01 08:28:56.148556']

# SELECT

In [8]:
qs = Shop.objects.all()

In [9]:
for shop in qs:
        print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

2 셀프24시빨래방 024-1234-5432
1 투썸플레이스 042-1234-1234

In [10]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

2 셀프24시빨래방 024-1234-5432
1 투썸플레이스 042-1234-1234

In [11]:
qs.order_by("-id") # . "created_at") # 정렬은 가급적 단일 컬럼을 쓰세요

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

## 데이터 뻥튀기

In [12]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 08:29:04.080772', '2021-12-01 08:29:04.080772'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 08:29:04.080772', '2021-12-01 08:29:04.080772']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 08:29:04.097727', '2021-12-01 08:29:04.097727'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 08:29:04.097727', '2021-12-01 08:29:04.097727']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 08:29:04.103712', '2021-12-01 08:29:04.103712'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 08:29:04.103712', '2021-12-01 08:29:04.103712']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 08:29:04.109701', '2021-12-01 08:29:04.109701'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 08:29:04.109701', '2021-12-01 08:29:04.109701']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 08:29:04.116683', '2021-12-01 08:29:04.116683'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 08:29:04.116683', '2021-12-01 08:29:04.116683']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 08:29:04.122666', '2021-12-01 08:29:04.122666'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 08:29:04.122666', '2021-12-01 08:29:04.122666']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 08:29:04.130649', '2021-12-01 08:29:04.130649'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 08:29:04.130649', '2021-12-01 08:29:04.130649']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 08:29:04.137627', '2021-12-01 08:29:04.137627'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 08:29:04.137627', '2021-12-01 08:29:04.137627']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 08:29:04.144607', '2021-12-01 08:29:04.144607'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 08:29:04.144607', '2021-12-01 08:29:04.144607']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 08:29:04.155456', '2021-12-01 08:29:04.155456'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 08:29:04.155456', '2021-12-01 08:29:04.155456']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 08:29:04.164435', '2021-12-01 08:29:04.164435'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 08:29:04.164435', '2021-12-01 08:29:04.164435']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 08:29:04.171415', '2021-12-01 08:29:04.171415'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 08:29:04.171415', '2021-12-01 08:29:04.171415']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 08:29:04.179392', '2021-12-01 08:29:04.179392'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 08:29:04.179392', '2021-12-01 08:29:04.179392']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 08:29:04.188367', '2021-12-01 08:29:04.188367'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 08:29:04.188367', '2021-12-01 08:29:04.188367']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 08:29:04.196352', '2021-12-01 08:29:04.196352'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 08:29:04.196352', '2021-12-01 08:29:04.196352']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 08:29:04.204325', '2021-12-01 08:29:04.204325'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 08:29:04.204325', '2021-12-01 08:29:04.204325']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 08:29:04.215297', '2021-12-01 08:29:04.215297'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 08:29:04.215297', '2021-12-01 08:29:04.215297']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 08:29:04.221279', '2021-12-01 08:29:04.221279'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 08:29:04.221279', '2021-12-01 08:29:04.221279']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 08:29:04.229259', '2021-12-01 08:29:04.229259'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 08:29:04.229259', '2021-12-01 08:29:04.229259']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 08:29:04.237238', '2021-12-01 08:29:04.237238'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 08:29:04.237238', '2021-12-01 08:29:04.237238']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 08:29:04.248313', '2021-12-01 08:29:04.248313'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 08:29:04.248313', '2021-12-01 08:29:04.248313']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 08:29:04.254297', '2021-12-01 08:29:04.254297'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 08:29:04.254297', '2021-12-01 08:29:04.254297']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 08:29:04.281936', '2021-12-01 08:29:04.281936'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 08:29:04.281936', '2021-12-01 08:29:04.281936']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 08:29:04.287921', '2021-12-01 08:29:04.287921'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 08:29:04.287921', '2021-12-01 08:29:04.287921']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 08:29:04.294903', '2021-12-01 08:29:04.294903'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 08:29:04.294903', '2021-12-01 08:29:04.294903']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 08:29:04.303877', '2021-12-01 08:29:04.303877'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 08:29:04.303877', '2021-12-01 08:29:04.303877']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 08:29:04.309862', '2021-12-01 08:29:04.309862'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 08:29:04.309862', '2021-12-01 08:29:04.309862']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 08:29:04.316845', '2021-12-01 08:29:04.316845'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 08:29:04.316845', '2021-12-01 08:29:04.316845']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 08:29:04.327813', '2021-12-01 08:29:04.327813'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 08:29:04.327813', '2021-12-01 08:29:04.327813']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 08:29:04.336790', '2021-12-01 08:29:04.336790'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 08:29:04.336790', '2021-12-01 08:29:04.336790']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 08:29:04.343607', '2021-12-01 08:29:04.343607'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 08:29:04.343607', '2021-12-01 08:29:04.343607']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 08:29:04.352584', '2021-12-01 08:29:04.352584'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 08:29:04.352584', '2021-12-01 08:29:04.352584']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 08:29:04.358667', '2021-12-01 08:29:04.358667'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 08:29:04.358667', '2021-12-01 08:29:04.358667']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 08:29:04.365652', '2021-12-01 08:29:04.365652'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 08:29:04.365652', '2021-12-01 08:29:04.365652']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 08:29:04.372637', '2021-12-01 08:29:04.373631'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 08:29:04.372637', '2021-12-01 08:29:04.373631']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 08:29:04.380614', '2021-12-01 08:29:04.380614'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 08:29:04.380614', '2021-12-01 08:29:04.380614']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 08:29:04.392580', '2021-12-01 08:29:04.392580'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 08:29:04.392580', '2021-12-01 08:29:04.392580']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 08:29:04.404547', '2021-12-01 08:29:04.404547'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 08:29:04.404547', '2021-12-01 08:29:04.404547']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 08:29:04.410531', '2021-12-01 08:29:04.410531'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 08:29:04.410531', '2021-12-01 08:29:04.410531']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 08:29:04.421502', '2021-12-01 08:29:04.421502'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 08:29:04.421502', '2021-12-01 08:29:04.421502']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 08:29:04.431479', '2021-12-01 08:29:04.431479'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 08:29:04.431479', '2021-12-01 08:29:04.431479']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 08:29:04.438456', '2021-12-01 08:29:04.438456'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 08:29:04.438456', '2021-12-01 08:29:04.438456']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 08:29:04.445478', '2021-12-01 08:29:04.445478'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 08:29:04.445478', '2021-12-01 08:29:04.445478']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 08:29:04.453455', '2021-12-01 08:29:04.453455'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 08:29:04.453455', '2021-12-01 08:29:04.453455']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 08:29:04.459442', '2021-12-01 08:29:04.459442'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 08:29:04.459442', '2021-12-01 08:29:04.459442']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 08:29:04.466425', '2021-12-01 08:29:04.466425'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 08:29:04.466425', '2021-12-01 08:29:04.466425']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 08:29:04.472243', '2021-12-01 08:29:04.472243'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 08:29:04.472243', '2021-12-01 08:29:04.472243']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 08:29:04.478227', '2021-12-01 08:29:04.478227'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 08:29:04.478227', '2021-12-01 08:29:04.478227']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 08:29:04.486207', '2021-12-01 08:29:04.486207'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 08:29:04.486207', '2021-12-01 08:29:04.486207']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 08:29:04.492547', '2021-12-01 08:29:04.492547'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 08:29:04.492547', '2021-12-01 08:29:04.492547']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 08:29:04.500526', '2021-12-01 08:29:04.500526'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 08:29:04.500526', '2021-12-01 08:29:04.500526']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 08:29:04.506546', '2021-12-01 08:29:04.506546'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 08:29:04.506546', '2021-12-01 08:29:04.506546']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 08:29:04.513534', '2021-12-01 08:29:04.513534'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 08:29:04.513534', '2021-12-01 08:29:04.513534']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 08:29:04.521510', '2021-12-01 08:29:04.521510'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 08:29:04.521510', '2021-12-01 08:29:04.521510']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 08:29:04.527366', '2021-12-01 08:29:04.527366'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 08:29:04.527366', '2021-12-01 08:29:04.527366']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 08:29:04.534348', '2021-12-01 08:29:04.534348'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 08:29:04.534348', '2021-12-01 08:29:04.534348']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 08:29:04.540805', '2021-12-01 08:29:04.540805'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 08:29:04.540805', '2021-12-01 08:29:04.540805']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 08:29:04.548792', '2021-12-01 08:29:04.548792'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 08:29:04.548792', '2021-12-01 08:29:04.548792']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 08:29:04.555040', '2021-12-01 08:29:04.555040'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 08:29:04.555040', '2021-12-01 08:29:04.555040']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 08:29:04.560692', '2021-12-01 08:29:04.560692'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 08:29:04.560692', '2021-12-01 08:29:04.560692']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 08:29:04.568674', '2021-12-01 08:29:04.568674'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 08:29:04.568674', '2021-12-01 08:29:04.568674']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 08:29:04.574549', '2021-12-01 08:29:04.574549'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 08:29:04.574549', '2021-12-01 08:29:04.574549']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 08:29:04.581536', '2021-12-01 08:29:04.581536'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 08:29:04.581536', '2021-12-01 08:29:04.581536']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 08:29:04.588512', '2021-12-01 08:29:04.588512'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 08:29:04.588512', '2021-12-01 08:29:04.588512']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 08:29:04.594496', '2021-12-01 08:29:04.594496'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 08:29:04.594496', '2021-12-01 08:29:04.594496']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 08:29:04.601479', '2021-12-01 08:29:04.601479'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 08:29:04.601479', '2021-12-01 08:29:04.601479']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 08:29:04.609942', '2021-12-01 08:29:04.609942'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 08:29:04.609942', '2021-12-01 08:29:04.609942']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 08:29:04.616923', '2021-12-01 08:29:04.616923'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 08:29:04.616923', '2021-12-01 08:29:04.616923']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 08:29:04.636015', '2021-12-01 08:29:04.636015'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 08:29:04.636015', '2021-12-01 08:29:04.636015']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 08:29:04.642000', '2021-12-01 08:29:04.642000'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 08:29:04.642000', '2021-12-01 08:29:04.642000']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 08:29:04.649988', '2021-12-01 08:29:04.649988'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 08:29:04.649988', '2021-12-01 08:29:04.649988']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 08:29:04.656302', '2021-12-01 08:29:04.656302'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 08:29:04.656302', '2021-12-01 08:29:04.656302']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 08:29:04.663292', '2021-12-01 08:29:04.663292'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 08:29:04.663292', '2021-12-01 08:29:04.663292']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 08:29:04.671262', '2021-12-01 08:29:04.671262'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 08:29:04.671262', '2021-12-01 08:29:04.671262']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 08:29:04.677002', '2021-12-01 08:29:04.677002'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 08:29:04.677002', '2021-12-01 08:29:04.677002']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 08:29:04.683986', '2021-12-01 08:29:04.683986'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 08:29:04.683986', '2021-12-01 08:29:04.683986']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 08:29:04.690055', '2021-12-01 08:29:04.690055'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 08:29:04.690055', '2021-12-01 08:29:04.690055']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 08:29:04.697042', '2021-12-01 08:29:04.698038'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 08:29:04.697042', '2021-12-01 08:29:04.698038']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 08:29:04.704018', '2021-12-01 08:29:04.704018'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 08:29:04.704018', '2021-12-01 08:29:04.704018']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 08:29:04.709921', '2021-12-01 08:29:04.709921'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 08:29:04.709921', '2021-12-01 08:29:04.709921']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 08:29:04.716903', '2021-12-01 08:29:04.716903'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 08:29:04.716903', '2021-12-01 08:29:04.716903']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 08:29:04.726134', '2021-12-01 08:29:04.726134'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 08:29:04.726134', '2021-12-01 08:29:04.726134']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 08:29:04.736109', '2021-12-01 08:29:04.736109'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 08:29:04.736109', '2021-12-01 08:29:04.736109']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 08:29:04.742394', '2021-12-01 08:29:04.742394'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 08:29:04.742394', '2021-12-01 08:29:04.742394']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 08:29:04.749377', '2021-12-01 08:29:04.749377'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 08:29:04.749377', '2021-12-01 08:29:04.749377']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 08:29:04.757354', '2021-12-01 08:29:04.757354'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 08:29:04.757354', '2021-12-01 08:29:04.757354']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 08:29:04.766331', '2021-12-01 08:29:04.766331'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 08:29:04.766331', '2021-12-01 08:29:04.766331']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 08:29:04.772399', '2021-12-01 08:29:04.772399'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 08:29:04.772399', '2021-12-01 08:29:04.772399']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 08:29:04.778333', '2021-12-01 08:29:04.778333'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 08:29:04.778333', '2021-12-01 08:29:04.778333']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 08:29:04.785318', '2021-12-01 08:29:04.785318'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 08:29:04.785318', '2021-12-01 08:29:04.785318']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 08:29:04.792301', '2021-12-01 08:29:04.792301'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 08:29:04.792301', '2021-12-01 08:29:04.792301']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 08:29:04.802275', '2021-12-01 08:29:04.802275'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 08:29:04.802275', '2021-12-01 08:29:04.802275']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 08:29:04.810188', '2021-12-01 08:29:04.810188'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 08:29:04.810188', '2021-12-01 08:29:04.810188']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 08:29:04.818167', '2021-12-01 08:29:04.818167'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 08:29:04.818167', '2021-12-01 08:29:04.818167']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 08:29:04.824929', '2021-12-01 08:29:04.824929'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 08:29:04.824929', '2021-12-01 08:29:04.824929']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 08:29:04.834905', '2021-12-01 08:29:04.834905'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 08:29:04.834905', '2021-12-01 08:29:04.834905']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 08:29:04.841958', '2021-12-01 08:29:04.841958'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 08:29:04.841958', '2021-12-01 08:29:04.841958']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 08:29:04.849937', '2021-12-01 08:29:04.849937'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 08:29:04.849937', '2021-12-01 08:29:04.849937']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 08:29:04.856918', '2021-12-01 08:29:04.856918'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 08:29:04.856918', '2021-12-01 08:29:04.856918']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 08:29:04.864902', '2021-12-01 08:29:04.864902'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 08:29:04.864902', '2021-12-01 08:29:04.864902']

## Slicing

In [13]:
qs = Shop.objects.all()

In [14]:
qs[10:]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21 OFFSET 10; args=()

<QuerySet [<Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, <Shop: Shop object (84)>, <Shop: Shop object (83)>, <Shop: Shop object (82)>, <Shop: Shop object (81)>, <Shop: Shop object (80)>, <Shop: Shop object (79)>, <Shop: Shop object (78)>, <Shop: Shop object (77)>, <Shop: Shop object (76)>, <Shop: Shop object (75)>, <Shop: Shop object (74)>, <Shop: Shop object (73)>, '...(remaining elements truncated)...']>

In [15]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>,
 <Shop: Shop object (94)>]

In [16]:
qs[-10:]

AssertionError: Negative indexing is not supported.

In [17]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

10 가게명#8 042-1234-9008
9 가게명#7 042-1234-9007
8 가게명#6 042-1234-9006
7 가게명#5 042-1234-9005
6 가게명#4 042-1234-9004
5 가게명#3 042-1234-9003
4 가게명#2 042-1234-9002
3 가게명#1 042-1234-9001
2 셀프24시빨래방 024-1234-5432
1 투썸플레이스 042-1234-1234

## Conditions

In [18]:
qs = Shop.objects.all()

In [19]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [22]:
#lt : less than <
#lte : less than equal <=
#gt : greater than >
#gte : greater than equal >=
qs.filter(
    pk__gte=5,
    pk__lt=10, #less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [21]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [28]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [29]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy.

In [30]:
qs = Shop.objects.all()

In [31]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, <Shop: Shop object (84)>, <Shop: Shop object (83)>, '...(remaining elements truncated)...']>

In [ ]:
# qs = Shop.objects.all()
# shop_list = list(qs) # NEVER

# Get 1 Row

In [32]:
pk = 10
not_existed_pk = 100000

In [33]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대. 1개가 아니면 예외가 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [34]:
Shop.objects.get(pk=not_existed_pk) # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [35]:
Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [36]:
Shop.objects.filter(pk=not_existed_pk)[0] #indexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [37]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 Row가 없다면 None을 반환할 뿐. 예외는 발생 X.

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [38]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) #AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [39]:
from django.db.models import Q

In [40]:
Q(pk__gte=5)

In [41]:
Q(pk__lt=10)

In [42]:
Q(pk__gte=5) & Q(pk__lt=10)

In [43]:
Q(pk__gte=5) | Q(pk__lt=10)

In [44]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, <Shop: Shop object (84)>, <Shop: Shop object (83)>, '...(remaining elements truncated)...']>

In [45]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [46]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [47]:
shop.name, shop.telephone

('가게명#8', '042-1234-9008')

In [48]:
shop.telephone = '042-1111-0001'

In [49]:
shop.save()

(0.016) UPDATE "mall_shop" SET "name" = '가게명#8', "description" = '', "telephone" = '042-1111-0001', "photo" = '', "created_at" = '2021-12-01 08:29:04.137627', "updated_at" = '2021-12-01 08:32:21.165489' WHERE "mall_shop"."id" = 10; args=('가게명#8', '', '042-1111-0001', '', '2021-12-01 08:29:04.137627', '2021-12-01 08:32:21.165489', 10)

## 지정 범위의 Rows

In [50]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.016) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

10

In [51]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#8', "description" = 'not used description', "telephone" = '042-1111-0001', "photo" = '', "created_at" = '2021-12-01 08:29:04.137627', "updated_at" = '2021-12-01 08:32:24.175465' WHERE "mall_shop"."id" = 10; args=('가게명#8', 'not used description', '042-1111-0001', '', '2021-12-01 08:29:04.137627', '2021-12-01 08:32:24.175465', 10)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#7', "description" = 'not used description', "telephone" = '042-1234-9007', "photo" = '', "created_at" = '2021-12-01 08:29:04.130649', "updated_at" = '2021-12-01 08:32:24.207165' WHERE "mall_shop"."id" = 9; args=('가게명#7', 'not used description', '042-1234-9007', '', '2021-12-01 08:29:04.130649', '2021-12-01 08:32:24.207165', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-9006', "photo" = '', "created_at" = '2021-12-01 08:29:04.122666', "updated_at" = '2021-12-01 08:32:24.216141' WHERE "mall_shop"."id" = 8; args=('가게명#6', 'not used description', '042-1234-9006', '', '2021-12-01 08:29:04.122666', '2021-12-01 08:32:24.216141', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 08:29:04.116683', "updated_at" = '2021-12-01 08:32:24.222125' WHERE "mall_shop"."id" = 7; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 08:29:04.116683', '2021-12-01 08:32:24.222125', 7)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 08:29:04.109701', "updated_at" = '2021-12-01 08:32:24.232097' WHERE "mall_shop"."id" = 6; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 08:29:04.109701', '2021-12-01 08:32:24.232097', 6)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 08:29:04.103712', "updated_at" = '2021-12-01 08:32:24.238084' WHERE "mall_shop"."id" = 5; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 08:29:04.103712', '2021-12-01 08:32:24.238084', 5)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 08:29:04.097727', "updated_at" = '2021-12-01 08:32:24.248058' WHERE "mall_shop"."id" = 4; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 08:29:04.097727', '2021-12-01 08:32:24.248058', 4)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 08:29:04.080772', "updated_at" = '2021-12-01 08:32:24.255038' WHERE "mall_shop"."id" = 3; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 08:29:04.080772', '2021-12-01 08:32:24.255038', 3)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '024-1234-5432', "photo" = '', "created_at" = '2021-12-01 08:28:56.148556', "updated_at" = '2021-12-01 08:32:24.264014' WHERE "mall_shop"."id" = 2; args=('셀프24시빨래방', 'not used description', '024-1234-5432', '', '2021-12-01 08:28:56.148556', '2021-12-01 08:32:24.264014', 2)
(0.015) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 08:28:51.051595', "updated_at" = '2021-12-01 08:32:24.271187' WHERE "mall_shop"."id" = 1; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 08:28:51.051595', '2021-12-01 08:32:24.271187', 1)